.App {
  font-family: "Poppins", serif;
  text-align: center;
}

:root {
  --bg: #2b374b;
  --bg-firt: #2f3b50;
  --bg-second: #313f55;
  --bg-third: #313f55;
  --t-color: #e7e7e7;
  --blue: #1e8fffcb;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: start;
  font-size: 10px;
  font-family: "Poppins", serif;
  color: var(--t-color);
  transition: 0.2s linear;
}

body {
  background: var(--bg-third);
}

.interface {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: var(--t-color);
  background: var(--blue);
  padding: 10px 18px;
  font-size: 24px;
  border-radius: 5px;
  display: inline-block;
}

.btn:hover {
  color: var(--t-color);
  font-size: 26px;
  background: var(--blue);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 34px;
  margin: 10px 0px;
  padding: 30px 0px;
}

.icon {
  color: var(--bg-firt);
  font-size: 29px;
}

/*--------------header----------------- */

header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: var(--bg);
}

header .interface a img {
  padding: 0px 5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

header .interface .navbar {
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

header .interface .navbar a {
  margin: 0px 10px;
  font-size: 18px;
  font-weight: bold;
}

header .interface .navbar a:hover {
  font-size: 20px;
  font-weight: bold;
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

header .interface .mobile-icon {
  padding: 0px 5px;
  display: none;
}

header .mobile-navbar {
  display: none;
}

header .mobile-navbar .mobile-navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

header .mobile-navbar .mobile-navbar-items a {
  margin: 0px 10px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px;
}

header .mobile-navbar .mobile-navbar-items a:hover {
  background: var(--blue);
  font-size: 20px;
  font-weight: bold;
  color: var(--t-color);
}

section {
  padding: 10px;
}

section .interface {
  padding: 60px 5px;
}

/*--------------home----------------- */

#home {
  background: var(--bg-firt);
}

#home .interface {
  display: grid;
  align-items: center;
  height: 90vh;
  grid-template-columns: 2fr 1fr;
}

section .interface .text-home {
  padding: 5px;
  max-width: 600px;
}

section .interface .text-home h1 {
  font-size: 36px;
}

section .interface .text-home span {
  font-size: 36px;
  color: var(--blue);
}
section .interface .text-home p {
  font-size: 24px;
  margin: 15px 0px;
  text-align: start;
}

section .title span {
  padding: 0px 10px;
  font-size: 34px;
  color: var(--blue);
}

/*--------------about----------------- */

#about {
  background: var(--bg-second);
}

#about .interface {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
}

section .interface .photo-about {
  padding: 5px;
}

section .interface .photo-about img {
  height: 380px;
  width: 360px;
  border-radius: 20px;
}

section .interface .text-about {
  padding: 5px;
}

section .interface .text-about p {
  font-size: 22px;
  margin: 15px 0px;
}

/*--------------technologics----------------- */

#technologics .interface {
  display: grid;
  gap: 10px;

  grid-template-columns: 1fr 1fr 1fr;
}

#technologics {
  background: var(--bg-second);
}

#technologics .title span {
  padding: 0px;
}

.tech-box {
  padding: 5px;
  border-radius: 10px;
}

.tech-box:hover {
  border-radius: 10px;
}

.tech-box .text-technologics h2 {
  color: var(--blue);
  font-size: 30px;
  margin: 10px 0px;
}

.tech-box .text-technologics p {
  font-size: 22px;
}

/*--------------projects----------------- */

#projects {
  background: var(--bg-third);
}

#projects .interface .project {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

#projects .interface {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

#projects .title span {
  padding: 0px;
}

section .interface .project {
  padding: 5px;
}

section .interface .project .photo-project img {
  width: 350px;
  height: 230px;
  border-radius: 20px;
}

section .interface .project .text-project h3 {
  color: var(--blue);
  font-size: 30px;
}

section .interface .project .text-project p {
  font-size: 22px;
  margin: 10px 0px;
}

/*--------------contact----------------- */

#contact {
  background: var(--bg-third);
}

#contact .interface {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

#contact .title span {
  padding: 0px;
}

section .interface .text-info-contact {
  padding: 5px;
}

section .interface .text-info-contact h2 {
  color: var(--blue);
  font-size: 30px;
}

section .interface .text-info-contact p {
  font-size: 22px;
  margin: 10px 0px;
}

section .interface .text-contact {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

section .interface .text-contact span {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

section .interface .text-contact span p {
  font-size: 5vw;
  gap: 10px;
  font-size: 22px;
  margin: 10px 0px;
}

/*--------------footer----------------- */

footer {
  padding: 10px;
  background: var(--bg);
}

footer .interface {
  justify-content: center;
  padding: 5px;
}

footer .interface a .icon {
  margin: 5px;
}

footer .interface a .icon:hover {
  font-size: 28px;
}

@media only screen and (max-width: 1024px) {
  #about .interface {
    display: grid;
    grid-template-columns: 1fr;
  }

  #contact .interface {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  #projects .interface {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 767px) {
  .btn {
    color: var(--t-color);
    background: var(--blue);
    padding: 8px 18px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
  }

  .btn:hover {
    color: var(--t-color);
    font-size: 20px;
    background: var(--blue);
    cursor: pointer;
  }

  .title {
    font-size: 30px;
    margin: 10px 0px;
    padding: 0px;
  }

  section .title span {
    font-size: 30px;
  }

  header .interface a img {
    padding: 0px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  header .interface .navbar {
    display: none;
  }

  header .interface .mobile-icon {
    padding: 0px;
    display: none;
  }

  header .interface .mobile-icon {
    padding: 6px;
    display: block;
  }

  header .interface .mobile-icon:hover {
    cursor: pointer;
  }

  header .mobile-navbar.show {
    display: block;
  }

  header .mobile-navbar .mobile-navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #home .interface {
    display: grid;
    height: 85vh;
    grid-template-columns: 1fr;
  }

  section .interface .text-home h1 {
    font-size: 30px;
  }

  section .interface .text-home span {
    font-size: 30px;
  }
  section .interface .text-home p {
    font-size: 20px;
  }

  #about .interface {
    display: grid;
    grid-template-columns: 1fr;
  }

  section .interface .text-about p {
    font-size: 17px;
  }

  section .interface .photo-about img {
    height: 380px;
    width: 330px;
  }

  #technologics .interface {
    display: grid;
    gap: 10x;
    grid-template-columns: 1fr;
  }

  .tech-box .text-technologics h2 {
    font-size: 28px;
  }

  .tech-box .text-technologics p {
    font-size: 17px;
  }

  #projects .interface {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }

  section .interface .project {
    margin: 5px 0px;
  }

  section .interface .project .photo-project img {
    width: 310px;
    height: 220px;
    border-radius: 20px;
  }

  section .interface .project .text-project h3 {
    font-size: 28px;
  }

  section .interface .project .text-project p {
    font-size: 17px;
  }

  #contact .interface {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }

  section .interface .text-info-contact h2 {
    font-size: 28px;
  }

  section .interface .text-info-contact p {
    font-size: 17px;
  }

  section .interface .text-contact span {
    display: inline-block;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin: 10px 0px;
  }

  section .interface .text-contact span p {
    font-size: 17px;
  }

  footer .interface {
    flex-direction: row;
    justify-content: center;
    padding: 5px;
  }
}
